.container {
  border: 1px solid black;

  .userInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid black;

    span {
      margin-bottom: 10px;
    }

    .nicknameChangeContainer {
      input {
        margin-right: 5px;
      }

      button {
        margin-right: 5px;
      }
    }

    .buttonContainer {
      button {
        margin-right: 5px;
      }
    }
  }

  .boardContainer {
    padding: 10px;

    .header {
      span {
        font-size: 20px;
        font-family: "넥슨고딕볼드";
      }
    }

    .body {
      thead {
        font-family: "넥슨고딕볼드";
      }
    }
  }
}
